.pull-right {
    float: right;
}

.pills {
    display: flex;
}

.pi {
    display: flex;
    flex-direction: column;
}

.list-group {
    flex-wrap: wrap;
    flex-shrink: 2;
    flex-direction: row;
    display: inline-flex;
    width: fit-content;
}

.pi p {
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
}

.pi p p {
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
}

.col-md-12 {
    max-width: 100%;
}

.col-md-8 p {
    max-width: fit-content;
}

p img {
    max-width: 100%;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 767px) {
    body {
      width: 100%;
    }
  }